@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-gold-light: #F3E5AB;
  --color-gold-dark: #AA8C2C;
}


/* הגדרות עבור תפריט הנגישות */
.acc-contrast {
  filter: contrast(150%) saturate(150%) !important;
}

.acc-grayscale {
  filter: grayscale(100%) !important;
}

.acc-invert {
  filter: invert(100%) hue-rotate(180deg) !important;
}

.acc-readable-font * {
  font-family: Arial, Helvetica, sans-serif !important;
}

.acc-underline-links a {
  text-decoration: underline !important;
}

.acc-highlight-links a {
  background-color: #ffff00 !important;
  color: #000 !important;
}

.acc-reduce-motion *,
.acc-reduce-motion *::before,
.acc-reduce-motion *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}